# Ne pas versionner les dépendances Node.js
node_modules/

# Ne pas versionner la compilation TypeScript (si tu as un dossier dist)
dist/

# Ne pas versionner les variables d’environnement (sécurité)
.env

#Ne pas versionner les images
uploads/

# Fichiers logs
*.log
/logs

# Dossiers de test Jest
coverage/

# Cache divers
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode / WebStorm
.vscode/
.idea/
